*{
    margin: 0px;
    font-family: 'OCR A Std' ,monospace;
    /* background-color: #101012; */
}
body{
    background-color: #101012;
}
.topnav{
    padding: 14px 16px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #101012;
    color:white;
}

.topnav li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a{
    text-decoration: none;
    color: white;
}

li:hover {
  background-color: #333;
}

.top-r{
    float:right;
}

.col2{
    background-color: #101012;
    float: left;
    width: 40%;
    height: 400px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col1{
    padding-left: 100px;
    background-color: #101012;
    float: left;
    width: 60%;
    padding: 0px;
    height: 400px;
}

.col1-head{
    padding-left: 100px;
    padding-top: 70px;
    font-size: 40px;
    color: white;
}

.highlight{
    background-color: #F0FF9D;
    color: #101012;
}

.col1-cont{
    color: white;
    padding-left: 100px;
    font-size: small;
}

.box{
    padding-left: 100px;
}

.b1{
    padding: 9px;
    display: inline;
    width:160px;
    text-align: center;
    background-color: #F0FF9D;
    color: #101012;
    border: #101012 2px solid;
    border-radius: 25px;
}

.b2{
    padding: 8px;
    display: inline;
    width:160px;
    text-align: center;
    background-color: #101012;
    color: white;
    border: white 2px solid;
    border-radius: 25px;
}

.col2-img{
    height: 300px;
    width: 250px;
    margin: 20px;
    border-radius: 25px;
}

.col-r{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.steps{
    width: 100%;
    height:100px;
    background-color:#101012;
    display: table;
}

.s{
    padding-top: 1.2em;
    padding-left: 9.5em;
}

.s1{
    border: #101012 1px solid;
    float:left;
    padding: 9px;
    width:300px;
    text-align: center;
    background-color: #E3F1C3;
    color: #101012;
    border-radius: 15px;
}

.s1-con{
    font-size: 10px;
}

.s2{
    border: #101012 1px solid;
    float: left;
    padding: 9px;
    width:300px;
    text-align: center;
    background-color:#F0FF9D;
    color: black;
    border-radius: 15px;
}

.s2-con{
    font-size: 10px;
}

.s3{
    float: left;
    padding: 9px;
    width:300px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 15px;
}

.s3-con{
    font-size: 10px;
}